<% include ../../partials/header %>
<% include ../../partials/navbar %>


<div class="container">
    <div>
        <button><a href="/upload_images">Upload</a></button>
    </div>
    <div>
        <button><a href="">Clean</a></button>
    </div>
    <div>
        <button><a href="">Categorize</a></button>
    </div>
    <div>
        <button><a href="">Review</a></button>
    </div>
</div>