<% include ../../partials/header %>
<% include ../../partials/navbar %>


<div class="container">
    <div class="row u-margin-botton-small">
        <a class=" col-1-of-2 btn btn-white" href="/upload_images">Upload</a>
        <a class=" col-1-of-2 btn btn-white" href="/cleaning">Clean</a>
    </div>
    <div class="row u-margin-botton-small">
        <a class=" col-1-of-2 btn btn-white" href="">Categorize</a>
        <a class=" col-1-of-2 btn btn-white" href="">Review</a>
    </div>
</div>