<% include ../partials/header %>
<% include ../../partials/navbar %>

<div class="container">
    <form action="/<%= site_id %>/<%= site_name %>/<%= location_id %>/upload_folder" enctype="multipart/form-data" method="POST">
        <label for="file">Upload a zip file with images/video: </label>
        <div>
            <input type="file" name="file" id="file" accept="zip" />
        </div>
        <button>Upload</button>
    </form>
</div>