<section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            About Us
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <h3 class="tertiary-heading u-margin-bottom-small">How We're Helping</h3>
            <p class="paragraph">We are a community-based organization focused on helping make the ecosystems around us healthier and more robust. 
                With the help of our tireless staff, we organize fundraisers, exciting community-building events, and in-depth training sessions for our volunteers.</p>
            <h3 class="tertiary-heading u-margin-bottom-small">Get Involved</h3>
            <p class="paragraph">Are you passionate about what we're doing? Let us know! We are always looking for volunteers to help us make our vision a reality. 
                We'll help you find a way to volunteer that best suits you. We're excited to have you join the team!</p>
            <h3 class="tertiary-heading u-margin-bottom-small">Thank You</h3>
            <p class="paragraph">Whether you help through monetary donations, volunteering your time, or spreading our mission through word-of-mouth, thank you. 
                We couldn't accomplish our goals without the help of supporters like you. </p>
            <a href="http://felidaefund.org/?q=about-us" class="btn-text">Learn more</a>
        </div>
        <div class="col-1-of-2">
            <div class="composition">
                <img src="/style/img/bobcat.jpg" alt="" class="composition__photo composition__photo--p1">
                <img src="/style/img/squirrel.jpg" alt="" class="composition__photo composition__photo--p2">
                <img src="/style/img/deers.jpg" alt="" class="composition__photo composition__photo--p3">
            </div>
        </div>
    </div>
</section>