<section class="welcome">
    <div class="welcome__text-box">
        <h1 class="welcome-primary">
            <span class="welcome-primary-main">Welcome to Wilde Pod</span>
            <span class="welcome-primary-sub">Let's make our community a better place! Help us record trail camera data.</span>
        </h1>

        <a href="#" class="btn btn-white btn-animated">Get Involved</a>
    </div>
</section>