*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  margin-left: 8rem;
  background-color: #A2E8B4; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn-animated {
  animation: moveInBottom .5s ease-out .75;
  animation-fill-mode: backwards; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  70% {
    opacity: 0.8;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  70% {
    opacity: 0.8;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f98, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px; }

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  border: 0;
  white-space: normal;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #777; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.welcome {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(./img/main.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
  .welcome__text-box {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-20%, -50%);
    text-align: center; }
  .welcome-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden; }
    .welcome-primary-main {
      display: block;
      font-size: 6rem;
      font-weight: 900;
      letter-spacing: 1.5rem;
      margin-bottom: 1.5rem;
      animation-name: moveInLeft;
      animation-duration: 1.5s; }
    .welcome-primary-sub {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.28rem;
      animation-name: moveInRight;
      animation-duration: 1.5s; }

.nav__cont {
  margin-left: -8rem;
  position: fixed;
  width: 4rem;
  top: 0;
  height: 100vh;
  z-index: 300;
  background-color: #7ed56f98;
  overflow: hidden;
  transition: width .3s ease;
  cursor: pointer;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4); }
  .nav__cont:hover {
    width: 20rem; }
  @media screen and (min-width: 600px) {
    .nav__cont {
      width: 8rem; } }

.nav {
  list-style-type: none;
  color: white; }
  .nav:first-child {
    padding-top: 1.5rem; }

.nav__items {
  padding-bottom: 4rem;
  font-family: 'roboto'; }
  .nav__items a {
    position: relative;
    display: block;
    top: -35px;
    padding-left: 5.5rem;
    padding-right: 1.5rem;
    transition: all .3s ease;
    margin-left: 2.5rem;
    margin-right: 1rem;
    text-decoration: none;
    color: white;
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.6rem; }
    .nav__items a:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 2px;
      background: radial-gradient(circle at 94.02% 88.03%, #28b485, transparent 100%);
      opacity: 0;
      transition: all .5s ease;
      z-index: -10; }
  .nav__items:hover a:after {
    opacity: 1; }
  .nav__items svg {
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
    left: 1rem;
    cursor: pointer; }
    @media screen and (min-width: 600px) {
      .nav__items svg {
        width: 32px;
        height: 32px;
        left: 2rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: 4rem; }
    .composition__photo--p2 {
      right: 0;
      top: 7rem; }
    .composition__photo--p3 {
      left: 15%;
      top: 20rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 6rem*2)/3);
    float: left; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-4 {
    width: calc((100% - 2rem*3)/4);
    float: left; }
    .row .col-1-of-4:not(:last-child) {
      margin-right: 2rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.cleaning_page {
  padding-top: 5rem;
  padding-bottom: 5rem; }
