    <% include ./partials/header %>
        <div class="container">
            <h1>Hi <%= user.name%></h1>
            <h1>This is the entry volunteer profile</h1>
        </div>
    <% include ./partials/footer %>

</body>

</html>