<% include ./partials/header %>
<div class="container">
    <h1>Hi <%= user.first_name%></h1>
    <h1>This is the staff profile</h1>
    <div><button><a href="/users">Users Administration</a></button></div>
    <div><button><a href="/properties">Properties Administration</a></button></div>
    <div><button><a href="/field_operations">Field Operations</a></button></div>
    <div><button><a href="/images">Image Annotation</a></button></div>
</div>


</body>

</html>