<% include ./partials/header %>
<% include ./partials/navbar %>
<div class="container" style="margin-top: 15rem;">
    <h1 class="headin-primary">Hi <%= user.first_name%></h1>
        <div class="row u-margin-bottom-small">
            <a class="col-1-of-2 btn btn-white btn-animated" target="_blank" href="/users">Users Administration</a>
            <a class="col-1-of-2 btn btn-white btn-animated" target="_blank" href="/properties">Properties Administration</a>
        </div>
        <div class="row u-margin-bottom-small">
            <a class="col-1-of-2 btn btn-white btn-animated" target="_blank" href="/field_operations">Field Operations</a>
            <a class="col-1-of-2 btn btn-white btn-animated" target="_blank" href="/images">Image Classification</a>
        </div>
</div>


</body>

</html>