.categorization_page {
    position: relative;
        .flag {
            position: absolute;
            top: 5rem;
            right: 30rem;
            width: 30rem;
        }
}

.finish_categorize {
    position: absolute;
    bottom: 5rem;
    right: 10rem;
}