.cleaning_page {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;

    img {
        cursor: pointer;
    }

    &--btn {
        position: absolute;
        top: 5rem;
        right: 3rem;
        height: 10rem;

        &-1 {
            top: 0;
            right: 3rem;
        }

        &-2 {
            top: 7rem;
            right: 3rem;
        }
    }

    &--btn-3 {
        position: absolute;
        left: 10rem;
        top: 5rem;
        font-size: $default-font-size;
        text-align: center;
        font-family: 'roboto';
        text-decoration: none;

        .btn {
            background-color: $color-white;
            color: $color-grey-dark;
        } 
    }
}